//////////IMPORTS///////////////////
@import '_normalize';
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic,300);

//////////VARIABLES/MIXINS///////////
$font: 'Ubuntu', sans-serif;

@mixin marginLR() {
  margin-left: auto;
  margin-right: auto;
}


/////////BASE STYLES//////////////////
html {
  font-size: 62.5%; //1rem = 10px//
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

*,*:after, *:before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

///////ELEMENT STYLES////////////////
.container {
  max-width: 940px;
  height: 700px;
  @include marginLR;
  padding-top: 64px;
  position: relative;
//  background-color: red;
  .fa-arrow-left, .fa-arrow-right {
    position: absolute;
    top: 30%;
    cursor: pointer;
  }
  .fa-arrow-left {
    left: 10%;

  }
  .fa-arrow-right {
    right: 10%;
  }

  ////////CARD/////////////////////////
  .card {
    @include marginLR;
    border: 1px solid #333;
    max-width: 500px;
    height: 350px;
    text-align: center;
    background-color: #fff;
    color: #333;
  //  background-color: blue;
    h2 {
      padding-top: 64px;
      font-size: 3rem;
      margin-bottom: 48px;
    }
    .question {
      font-size: 2rem;
      display: block;
      margin-bottom: 66px;
    }


  /////BUTTONS////////////////////////////
    // input[type=submit] {
    //   border: none;
    //   color: #fff;
    //   font-weight: bold;
    //   font-size: 3.5rem;
    //   width: 100%;
    // }
    // .wrong {
    //   background-color:	#c1153a;
    // }
    // .correct {
    //   background-color: #15c146;
    // }
  }


  /////////ANSWER BUTTON/////////////////
  .answer-button {
    @include marginLR;
    width: 500px;
    height: 100px;
    text-align: center;
    background-color: #15C19C;
    //border-bottom: 10px solid #12AD8C;
    cursor: pointer;
  //  background-color: yellow;
    &:hover {
      opacity: .9;
    }
    .answer {
      font-size: 3.5rem;
      padding-top: 28px;
      color: #fff;
    }
  }

  /////ORBS//////////
  .orbs {
    @include marginLR;
    padding-top: 16px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  //  background-color: orange;
    .orb {
      margin: 0 2px;
      width: 10px;
      height: 10px;
      border-radius: 30px;
      display: inline-block;
      background-color: #8AE0CD;
    }
    .selected {
      background-color: #588F83;
    }
  }
}
