//////////IMPORTS///////////////////

@import '_normalize';
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic,300);
//////////VARIABLES/MIXINS///////////
$font: 'Ubuntu', sans-serif;

@mixin marginLR() {
  margin-left: auto;
  margin-right: auto;
}


/////////BASE STYLES//////////////////
html {
  font-size: 62.5%; //1rem = 10px//
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
}

*,*:after, *:before {
  box-sizing: border-box;
}


///////ELEMENT STYLES////////////////
.container {
  max-width: 500px;
  height: 550px;
  @include marginLR;
  padding-top: 32px;
  .card {
   @include marginLR;
    border: 1px solid #333;
    max-width: 400px;
    height: 350px;
    text-align: center;
    color: #333;
    h2 {
      padding-top: 80px;
      font-size: 3rem;
      margin-bottom: 48px;
    }
    .question {
      font-size: 2rem;
    }
  }
  .bottom {
   @include marginLR;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: #15C19C;
    //border-bottom: 10px solid #12AD8C;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
    .answer {
     font-size: 3.5rem;
     padding-top: 28px;
     color: #fff;
    }
  }
}
